body::-webkit-scrollbar {
    display: none;
  }

  body {
    background-color: rgb(128, 145, 145);
    overflow-y: scroll;
  }

  #div1 {
    text-align: center;
    box-shadow: 1px 1px 8px black;
    padding: 3vh 0vw 5vh 0vw;
    height: 90vh;
    margin: 0vh 2vw 0vh 2vw;
    /* border: 10px solid black; */
    border-radius: 2vw;
  }

  #div1 h1 {
    background-color: rgb(80, 183, 231);
    padding: 1vw;
    /* margin-bottom: 2vh; */
    /* width: 100px; */
    margin-bottom: 5vh;
    font-size: 5vw;
  }

  #topic {
    padding: 2vw;
    background-color: rgb(28, 45, 53);
    width: 70vw;
    color: wheat;
    margin-bottom: 5vh;
    border-radius: 2vw;
  }

  #note {
    padding: 2vw;
    background-color: rgb(28, 45, 53);
    width: 70vw;
    height: 20vh;
    color: rgb(128, 125, 125);
    margin-bottom: 1vh;
    border-radius: 2vw;
  }

  p {

    font-size: 3vw;
  }

  button {
    padding: 3vw;
    width: 50vw;
    border-radius: 2vw;
    background-color: gray;
  }